*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.wraper{
	width:100%;
	height:100%;
}
.wraper.tlo2{
	background-image:url("images/tlo2.jpg");
	width:100vw;
	height:100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
nav.menu{
	position: absolute;
	background-color:black;
	float:left;  
	width: 80px;
	height: 100vh;
	z-index: 1;
}
nav.menu a{
	text-decoration:none;
	display: block;
}
nav.menu .menu-center{
	position: absolute;
	top:50%;
	transform: translatey(-50%);
}
nav.menu .menu-center img{
	width: 80px;
	height: 80px;
}
.content{
	background-image:url("images/tlo.jpg");
	width:100vw;
	height:100vh;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.content main form input{
	display: block;
	margin: 0 auto;
}
.contentdwa{
	background-image:url("images/tlo2.jpg");
	width:100vw;
	height:100vh;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.75;
}
main.podstrona{
	position: absolute;
	width:85vw;
	height:85vh;
	background-repeat: no-repeat;
	background-size: cover;
	left:75px;
	top:60px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	
}
#table a{
	position: relative;
	top:550px;
	left:50px;
	padding-left: 50px;
}

main h1.main-title{
	position: absolute;
	top:25%;
	left:calc(50% - 80px);
	transform: translate(-25%,-50%);
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
main h1.main-title > div{
	font-size: 150%;
}
.login-button{
	position: absolute;
	right:30px;
	top:15px;
	width:110px; 
	height:110px;
	cursor: pointer;
}
.login-button p1{
	position: absolute;
	right:100px;
	top:1px;
	color: #fff;
	font-size: 20px;
	font-family: "Arial", sans-serif;
}
.center-block{
	display:block;
	position: absolute;
	right:20px;
	top:20px;
	width:100px; 
	height:100px;
	cursor: pointer;
}
.center-block2{
	display:block;
	position: absolute;
	right:130px;
	top:0px;
	width:120px; 
	height:120px;
	cursor: pointer;
}
#Loguj{
	position: absolute;
	top:40%;
	left:calc(50% - 130px);
	color: #fff;
	font-size: 20px;
	font-weight: 15;
	text-align: center;
	font-family: "Arial", sans-serif;
	display:none;
}
#Loguj2{
	position: absolute;
	top:40%;
	left:calc(50% - 130px);
	color: #fff;
	font-size: 20px;
	font-weight: 15;
	text-align: center;
	font-family: "Arial", sans-serif;
	
}
.podstrona{
	background-image:url("images/tlodwam21.png");
	position: absolute;
	width:85vw;
	height:85vh;
	background-repeat: no-repeat;
	background-size: cover;
	left:75px;
	top:60px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.menu_przedmitow {
position: absolute;
	top:150px;
	left:100px;
	color: #fff;
	font-size: 20px;
	font-weight: 15;
	text-align: center;
	font-family: "Arial", sans-serif;
}
.menu_przedmitow h1 {
position: absolute;
	top:400px;
	left:100px;
	color: white;
	font-size: 20px;
	font-weight: 15;
	text-align: center;
	font-family: "Arial", sans-serif;
}
.podstrona h1{
	position: absolute;
	top:50px;
	right:calc(700px);
	color: white;
	font-size: 50px;
	font-weight: 15;
	text-align: center;
	font-family: "Arial", sans-serif;
}
.podstrona h2{
	position: absolute;
	top:50px;
	left:calc(100px);
	color: white;
	font-size: 50px;
	font-weight: 15;
	text-align: center;
	font-family: "Arial", sans-serif;
}
main h1.main-title2{
	position: absolute;
	top:25%;
	left:calc(50% - 80px);
	transform: translate(-25%,-50%);
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
#Loguj2 h1{
	position: absolute;
	top:25%;
	left:calc(50% - 40px);
	transform: translate(-25%,-50%);
	color: #ee3211;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
.tabela{
	position: absolute;
	top:30%;
	left:calc(50% - 250px);
	transform: translate(-25%,-50%);
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
main h1.main-title3{
	position: absolute;
	top:25%;
	left:calc(50% - 200px);
	transform: translate(-25%,-50%);
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
.tabelau {
	position: absolute;
	top:30%;
	left:500px;
	transform: translate(-25%,-50%);
	color: #fff;
	font-size: 30px;
	font-weight: 15;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
.tabelau1 {
	position: relative;
	top:30%;
	left:550px;
	transform: translate(-25%,-50%);
	color: #fff;
	font-size: 30px;
	font-weight: 15;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
}
.tabelau1 h4{
	color: yellow;
}
.tabelau1 h5{
	color: red;
}
	.tabelau2 {
		position: absolute;
		top:30%;
		left:400px;
		transform: translate(-25%,-50%);
		color: #fff;
		font-size: 30px;
		font-weight: 15;
		text-align: center;
		text-transform: uppercase;
		font-family: "Arial", sans-serif;
	}
			.tabelau3 {
		position: absolute;
		top:280px;
		left:500px;
		transform: translate(-25%,-50%);
		color: #fff;
		font-size: 30px;
		font-weight: 15;
		text-align: center;
		text-transform: uppercase;
		font-family: "Arial", sans-serif;
	}
	main h1.main-title4{
	position: absolute;
	top:30%;
	left:calc(50% - 80px);
	transform: translate(-25%,-50%);
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial", sans-serif;
	}
	.tabelau4 {
		position: relative;
		top:30%;
		left:400px;
		transform: translate(-25%,-50%);
		color: #fff;
		font-size: 25px;
		font-weight: 15;
		text-align: center;
		text-transform: uppercase;
		font-family: "Arial", sans-serif;
	}
	
.wraper.tlo2 h1{
		position: absolute;
	top:30%;
	left:calc(10% - 80px);
	color: #fff;
	font-size:40px;
		font-weight: 15;
}
